* {
	margin: 0;
	padding: 0px;
}
body {
	padding: 0px;
	margin: 0px;
	font-size: 10px;
	background-color: #000000;
	-webkit-font-smoothing: subpixel-antialiased;
	.container {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;

		.nav-bar {
			position: absolute;
			height: 20vh;
			width: 100%;
			z-index: 3;
			opacity: 1;
			word-break: break-all;
			display: flex;
			font-size: 1.7em;
			color: #fff;
			background-color: orange;
			p {
				padding: 0px;
				margin: 0px;
				top: 50%;
				transform: translateY(-50%);
			}
			.item-one {
				height: 100%;
				width: 100%;

				p {
					position: absolute;
					left: 10%;
					transform: translateX(-10%);
					&:hover {
						cursor: pointer;
					}
				}
			}

			.item-two {
				//		transform: rotateY(70deg);
				height: 100%;
				width: 2px;
				background-color: rgb(255, 255, 255);
				border-radius: 50%;
			}

			.item-three {
				height: 100%;
				width: 100%;

				p {
					right: 20%;
					transform: translateX(-20%);
					position: absolute;
					color: #fff;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
		//CV
		.left-right-common-style {
			position: absolute;
			top: 0%;
			height: 100%;
			width: 30%;
			z-index: 2;
			overflow-x: hidden;
			background-color: blue;
		}
		//This is the common style applied on p for left- right- center- .div
		.text-animation {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			height: 200px;
			width: 100%;
			background-color: #000000;
			p {
				white-space: nowrap;
				font-size: 6em;
				margin: 0px;
				text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7), 1px -1px 0 rgba(255, 255, 255, 0.4),
					-1px 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 0 #000;
			}
		}
		.left-div {
			left: -5%;
			transform: perspective(800px) rotateY(38deg);
			.item-left {
				position: fixed;
				height: 300px;
				top: 50%;
				transform: translateY(-50%);

				p:first-child {
					margin-top: 47px;
				}
				p:nth-child(2) {
					margin-top: 37px;
				}
			}
		}
		.right-div {
			right: -5%;
			transform: perspective(800px) rotateY(-38deg);
			.item-right {
				position: fixed;
				height: 300px;
				top: 50%;
				transform: translateY(-50%);

				p:first-child {
					margin-top: 47px;
				}
				p:nth-child(2) {
					margin-top: 37px;
				}
			}
		}

		.item-center {
			position: relative;
			p:first-child {
			}
			p:nth-child(2) {
				margin-top: 31px;
			}
		}

		//Footer
	}
}
@media (min-width: 471px) and (max-width: 560px) {
	body {
		.container {
			//Header
			.nav-bar {
				.item-one {
					p {
						font-size: 1.8em;
						left: 3%;
						transform: translateX(-3%);
						&:hover {
						}
					}
				}

				.item-two {
				}

				.item-three {
					p {
						font-size: 1.8em;
						&:hover {
						}
					}
				}
			}

			//CV
			.left-right-common-style {
			}
			//This is the common style applied on p for left- right- center- .div
			.text-animation {
				p {
				}
			}
			.left-div {
				.item-left {
					font-size: 1.1em;
					p:first-child {
						margin-top: 43px;
					}
					p:nth-child(2) {
						margin-top: 32px;
					}
				}
			}
			.right-div {
				.item-right {
					font-size: 1.1em;
					p:first-child {
						margin-top: 43px;
					}
					p:nth-child(2) {
						margin-top: 32px;
					}
				}
			}

			.item-center {
				p:first-child {
				}
				p:nth-child(2) {
				}
			}

			//Footer
		}
	}
}
@media (min-width: 561px) and (max-width: 900px) {
	body {
		.container {
			.nav-bar {
				.item-one {
					p {
						font-size: 1.8em;
						&:hover {
						}
					}
				}

				.item-two {
				}

				.item-three {
					p {
						font-size: 1.8em;
						&:hover {
						}
					}
				}
			}
			.left-right-common-style {
			}
			//This is the common style applied on p for left- right- center- .div
			.text-animation {
				p {
				}
			}
			.left-div {
				.item-left {
					font-size: 1.2em;
					p:first-child {
						margin-top: 27px;
					}
					p:nth-child(2) {
						margin-top: 39px;
					}
				}
			}
			.right-div {
				.item-right {
					font-size: 1.2em;
					p:first-child {
						margin-top: 27px;
					}
					p:nth-child(2) {
						margin-top: 39px;
					}
				}
			}

			.item-center {
				height: 250px;
				padding-top: 30px;
				p:first-child {
				}
				p:nth-child(2) {
					margin-top: 43px;
				}
			}

			//Footer
		}
	}
}
@media (min-width: 901px) and (max-width: 1200px) {
	body {
		.container {
			.nav-bar {
				.item-one {
					p {
						font-size: 2em;
						&:hover {
						}
					}
				}

				.item-two {
				}

				.item-three {
					p {
						font-size: 2em;
						&:hover {
						}
					}
				}
			}
			.left-right-common-style {
			}
			//This is the common style applied on p for left- right- center- .div
			.text-animation {
				p {
				}
			}
			.left-div {
				.item-left {
					font-size: 1.7em;
					p:first-child {
						margin-top: 27px;
					}
					p:nth-child(2) {
						margin-top: 38px;
					}
				}
			}
			.right-div {
				.item-right {
					font-size: 1.7em;
					p:first-child {
						margin-top: 27px;
					}
					p:nth-child(2) {
						margin-top: 37px;
					}
				}
			}

			.item-center {
				height: 250px;
				padding-top: 30px;
				font-size: 1.5em;
				p:first-child {
				}
				p:nth-child(2) {
					margin-top: 37px;
				}
			}

			//Footer
		}
	}
}
@media (min-width: 1201px) {
	body {
		.container {
			.nav-bar {
				.item-one {
					p {
						font-size: 2.5em;
						&:hover {
						}
					}
				}

				.item-two {
				}

				.item-three {
					p {
						font-size: 2.5em;
						&:hover {
						}
					}
				}
			}
			.left-right-common-style {
			}
			//This is the common style applied on p for left- right- center- .div
			.text-animation {
				p {
				}
			}
			.left-div {
				.item-left {
					font-size: 2em;
					p:first-child {
						margin-top: 17px;
					}
					p:nth-child(2) {
						margin-top: 38px;
					}
				}
			}
			.right-div {
				.item-right {
					font-size: 2em;
					p:first-child {
						margin-top: 17px;
					}
					p:nth-child(2) {
						margin-top: 37px;
					}
				}
			}

			.item-center {
				height: 250px;
				padding-top: 30px;
				font-size: 1.6em;
				p:first-child {
				}
				p:nth-child(2) {
					margin-top: 37px;
				}
			}

			//Footer
		}
	}
}
/* @media (min-width: 1201px) and (max-width: 1700px) {
	body {
		.container {
			.nav-bar {
				.item-one {
					p {
						font-size: 1.5em;
						&:hover {
						}
					}
				}

				.item-two {
				}

				.item-three {
					p {
						font-size: 1.5em;
						&:hover {
						}
					}
				}
			}
			.left-right-common-style {
			}
			//This is the common style applied on p for left- right- center- .div
			.text-animation {
				p {
				}
			}
			.left-div {
				.item-left {
					font-size: 2em;
					p:first-child {
						margin-top: 25px;
					}
					p:nth-child(2) {
						margin-top: 40px;
					}
				}
			}
			.right-div {
				.item-right {
					font-size: 1.9em;

					p:first-child {
						margin-top: 25px;
					}
					p:nth-child(2) {
						margin-top: 40px;
					}
				}
			}

			.item-center {
				height: 250px;
				padding-top: 30px;
				font-size: 1.7em;
				p:first-child {
				}
				p:nth-child(2) {
					margin-top: 37px;
				}
			}

			//Footer
		}
	}
} */
/* @media (min-width: 901px) and (max-width: 1100px) {
	body {
		.container {
			.nav-bar {
				.item-one {
					p {
						font-size: 1.5em;
						&:hover {
						}
					}
				}

				.item-two {
				}

				.item-three {
					p {
						font-size: 1.5em;
						&:hover {
						}
					}
				}
			}
			.left-right-common-style {
			}
			//This is the common style applied on p for left- right- center- .div
			.text-animation {
				p {
				}
			}
			.left-div {
				.item-left {
					height: 350px;
					font-size: 1.6em;

					p:first-child {
						padding-top: 10px;
					}
					p:nth-child(2) {
						margin-top: 34px;
					}
				}
			}
			.right-div {
				.item-right {
					font-size: 1.6em;
					height: 350px;
					p:first-child {
						padding-top: 8px;
					}
					p:nth-child(2) {
						margin-top: 35px;
					}
				}
			}

			.item-center {
				height: 250px;
				padding-top: 35px;
				font-size: 1.4em;
				p:first-child {
				}
				p:nth-child(2) {
					margin-top: 37px;
				}
			}

			//Footer
		}
	}
} */

/* @media (min-width: 900px) {
	body {
		.container {
			.nav-bar {
				.item-one {
					p {
						font-size: 1.9em;
						&:hover {
						}
					}
				}

				.item-two {
				}

				.item-three {
					p {
						font-size: 1.9em;
						&:hover {
						}
					}
				}
			}
		}
	}
} */
